
# Ignore a python virtual environment
venv/

# Ignore confidential settings
sec_settings.py

# Ignore builds
**/__pycache__

# Ignore data
**/data

# Ignore db
db.sqlite3

# Ignore log file
*.log

# Ignore scripts
worker_scripts/

# Ignore our collectors
worker_process_flask.py
worker_process.py

# Ignore database migrations
migrations/

# Ignore local virtual environments
venv/

# Ignore data files
media/

#Ignore local settings
localsettings.py
